html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: auto;
}

@font-face {
    font-family: 'ElisarDTInfant-SemiBold';
    src: url('../../files/lib/fonts/web-fonts/elisardtinfant-semibold-webfont.eot');
    src: url('../../files/lib/fonts/web-fonts/elisardtinfant-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../../files/lib/fonts/web-fonts/elisardtinfant-semibold-webfont.woff2') format('woff2'), url('../../files/lib/fonts/web-fonts/elisardtinfant-semibold-webfont.woff') format('woff'), url('../../files/lib/fonts/web-fonts/elisardtinfant-semibold-webfont.ttf') format('truetype'), url('../../files/lib/fonts/web-fonts/elisardtinfant-semibold-webfont.svg#epicawesomenessmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ElisarDTInfant-Regular';
    src: url('../../files/lib/fonts/web-fonts/elisardtinfant-regular-webfont.eot');
    src: url('../../files/lib/fonts/web-fonts/elisardtinfant-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../files/lib/fonts/web-fonts/elisardtinfant-regular-webfont.woff2') format('woff2'), url('../../files/lib/fonts/web-fonts/elisardtinfant-regular-webfont.woff') format('woff'), url('../../files/lib/fonts/web-fonts/elisardtinfant-regular-webfontt.ttf') format('truetype'), url('../../files/lib/fonts/web-fonts/elisardtinfant-regular-webfont.svg#epicawesomenessmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    /*font-family: 'myriad-pro', 'Myriad Pro', sans-serif;*/
    font-family: 'ElisarDTInfant-Regular', sans-serif;
    font-size: 20px;
    color: #000000;
    padding: 0;
    margin: 0;
    overflow: auto;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    max-width: 966px;
    margin-left: auto;
    margin-right: auto;
    padding: 58px;
}

#containerPdf {
    max-width: 1377px;
    margin-left: auto;
    margin-right: auto;
    padding: 58px;
    height: 792px;
    background-color: #FFD203;
}

#pdfImgIconRow1 {
    float: left;
    /* width: 7%; */
    margin-top: 3%;
    margin-left: -2%;
    position: absolute;
}

#pdfImgIconRow2 {
    float: left;
    /* width: 7%; */
    margin-top: 14.7%;
    margin-left: -2%;
    position: absolute;
}

#pdfImgIconRow3 {
    float: left;
    /* width: 7%; */
    margin-top: 26.5%;
    margin-left: -2%;
    position: absolute;
}

#spanColspace {
    margin-left: 38px;
}

#pdfimg1 {
    height: 200px;
}


/*#links p {
    padding: 0;
    margin: 6.2px;
    line-height: 1;
}*/

#links table {
    border-collapse: collapse;
    border: 0;
    margin: 0;
    margin-bottom: 2%;
}

#links table td {
    vertical-align: top;
    padding: 0;
    border: 0;
    margin: 0;
}

.menu {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}


/*.menu_01 {
    background-color: #000000;
    color: #ffffff;
}

.menu_02 {
    background-color: #FFFFFF;
    color: #000000;
}

.menu_03 {
    background-color: #000000;
    color: #ffffff;
}*/

.break {
    height: 10px;
}


/*.column {
    width: 20.8%;
    height: 500px;
}*/

.column_table {
    height: initial;
    width: 100%;
}

.tabCol {
    width: 1070px;
    margin-left: -13px !important;
}

.title {
    background-color: rgba(47, 55, 180, 0.71);
    height: 42px;
}


/*.title .number {
    text-align: right;
    font-size: 13.4px;
    font-weight: bold;
    color: #FFF;
    max-width: 15px;
}*/


/*
.title .text {
    text-align: left;
    font-size: 13.4px;
    font-weight: bold;
    color: #FFF;
    width: auto;
}*/

.number {
    text-align: right;
    font-size: 13.4px;
    font-weight: bold;
    max-width: 18px;
}


/*.link {
    font-size: 13.4px;
    width: auto;
}*/

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #000;
}

a:hover {
    color: #999;
}

a:active {
    color: #000000;
}


/*.menu_01 {
    background-color: #00A4C0;
}

.title6 {
    height: 42px;
}

.title7 {
    height: 26px !important;
}*/

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    color: #74C9D7;
    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white
}

ul.leaders span + span {
    float: right;
    padding-left: 0em;
    background: white
}

.lineSpace {
    height: 1px;
}

#titleImg {
    height: 40px;
    width: 40px;
    margin-left: 0px;
}


/*#indexImg2 {
      height: 74px;
    width: 133px;
    margin-left: -4px;
    margin-top: 465px;
     position: absolute;
}*/

#indexImg4 {
    /* height: 58px;
    width: 86px;*/
    margin-left: -388px;
    position: absolute;
    margin-top: 465px;
}

#indexImg1,
#indexImg2,
#indexImg3 {
    display: none;
    position: absolute;
}

@media (device-width: 1024px) and (device-height: 768px) {
    #container {
        max-width: 772px!important;
        padding-top: 43px!important;
        margin-left: 61px!important;
    }
    .tabCol {
        width: 565px!important;
        margin-left: 114px!important;
    }
    body {
        font-size: 11.3px!important;
    }
    .lineSpace {
        height: 5px;
    }
    .link,
    .number {
        font-size: 11px!important;
    }
    /* #indexImg2 {
        width: 98px!important;
        margin-left: -14px!important;
        margin-top: 303px!important;
    }*/
    #indexImg4 {
        margin-left: -239px;
        margin-top: 294px;
        width: 84%;
    }
    .ieedge #indexImg4 {
        margin-left: -235px;
        margin-top: 285px;
        width: 81%;
    }
    #pdfimg1 {
        height: 104px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 11%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 11%!important;
        margin-top: 16.7%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 11%!important;
        margin-top: 30.5%!important;
    }
    #spanColspace {
        margin-left: 17px!important;
    }
}

@media (device-width: 1280px) and (device-height: 720px) {
    #container {
        max-width: 772px;
        padding-top: 38px;
    }
    .tabCol {
        width: 720px;
        margin-left: -23px !important;
    }
    /*#indexImg2 {
        height: 47px!important;
        width: 78px!important;
    }*/
    #indexImg4 {
        margin-left: -254px!important;
        margin-top: 295px!important;
        width: 44%;
    }
    .link,
    .number {
        font-size: 12px!important;
    }
    #links p {
        margin: 3px!important;
    }
    body {
        font-size: 12px!important;
    }
    .lineSpace {
        height: 1px;
    }
    /*#indexImg2 {
        margin-left: 20px!important;
        margin-top: 296px!important;
        height: 42px!important;
        width: 74px!important;
    }*/
    #titleImg {
        height: 30px;
        width: 30px;
        margin-left: 0px;
    }
    .break {
        height: 4px;
    }
    #pdfimg1 {
        height: 119px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 12%!important;
        margin-top: 2%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 12%!important;
        margin-top: 12.8%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 12%!important;
        margin-top: 23.5%!important;
    }
    #spanColspace {
        margin-left: 36px!important;
    }
    @-moz-document url-prefix() {
        .lineSpace {
            height: 0px!important;
        }
        #links p {
            margin: 2px !important;
        }
        body {
            font-size: 10px !important;
        }
        #indexImg2 {
            margin-top: 288px !important;
        }
    }
    .ieedge body {
        font-size: 10px !important;
    }
    .ieedge #links p {
        margin: 2px !important;
    }
    .ieedge #indexImg4 {
        margin-left: -247px !important;
        margin-top: 288px !important;
        width: 39%;
    }
}

@media (device-width: 1280px) and (device-height: 800px) {
    #container {
        max-width: 772px;
        padding-top: 45px;
    }
    /* #indexImg2 {
        margin-left: 12px!important;
        margin-top: 325px!important;
        height: 52px!important;
        width: 78px!important;
    }*/
    .ieedge #indexImg4 {
        margin-left: -261px !important;
        margin-top: 316px !important;
        height: 14%;
    }
    .tabCol {
        width: 720px;
        margin-left: -23px !important;
    }
    #indexImg4 {
        margin-left: -265px!important;
        margin-top: 326px!important;
        height: 15%;
    }
    .link,
    .number {
        font-size: 11px!important;
    }
    #links p {
        margin: 4px;
    }
    body {
        font-size: 13px;
    }
    .lineSpace {
        height: 1px;
    }
    #titleImg {
        height: 30px;
        width: 30px;
        margin-left: 0px;
    }
    #pdfimg1 {
        height: 142px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 12%;
    }
    #pdfImgIconRow2 {
        margin-left: 12%;
    }
    #pdfImgIconRow3 {
        margin-left: 12%;
    }
    #spanColspace {
        margin-left: 17px!important;
    }
    #containerPdf {
        padding: 45px;
    }
    @-moz-document url-prefix() {
        body {
            font-size: 11.5px!important;
        }
    }
    .ieedge body {
        font-size: 12px!important;
    }
    /* #indexImg2 {
        margin-top: 323px !important;
    }*/
}

@media (device-width: 1280px) and (device-height: 960px) {
    #container {
        max-width: 772px;
        padding-top: 63px;
    }
    .tabCol {
        width: 720px;
        margin-left: -23px !important;
    }
    #index_nav {
        margin-top: 36%!important;
    }
    #indexImg4 {
        margin-left: -286px!important;
        margin-top: 395px!important;
    }
    #dropdown2 {
        margin-top: -81%!important;
    }
    /* #indexImg2 {
        margin-left: 16px!important;
        margin-top: 415px!important;
    }*/
    .ieedge #indexImg4 {
        margin-left: -284px !important;
        margin-top: 382px !important;
    }
    .link,
    .number {
        font-size: 12px!important;
    }
    #links p {
        margin: 4px;
    }
    body {
        font-size: 14px;
    }
    .lineSpace {
        height: 5px!important;
    }
    #titleImg {
        height: 30px;
        width: 30px;
        margin-left: 0px;
    }
    #pdfimg1 {
        height: 142px!important;
    }
    #spanColspace {
        margin-left: 18px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 11.5%!important;
        margin-top: 5%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 11.5%!important;
        margin-top: 20%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 11.5%!important;
        margin-top: 35%!important;
    }
    @-moz-document url-prefix() {
        #indexImg4 {
            margin-left: -275px !important;
            margin-top: 403px !important;
            width: 66%;
        }
    }
}

@media (device-width: 1280px) and (device-height: 1024px) {
    #container {
        max-width: 772px;
        padding-top: 63px;
    }
    #titleImg {
        height: 35px!important;
        width: 35px!important;
        margin-left: 3px!important;
    }
    #indexImg4 {
        margin-left: -302px!important;
        margin-top: 431px!important;
        width: 87%;
    }
    .tabCol {
        width: 720px;
        margin-left: -23px !important;
    }
    /*   #indexImg2 {
        margin-left: 4px!important;
        margin-top: 446px!important;
    }*/
    .link,
    .number {
        font-size: 11px!important;
    }
    #links p {
        margin: 4px;
    }
    body {
        font-size: 15px;
    }
    .lineSpace {
        height: 7px;
    }
    #pdfimg1 {
        height: 135px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 12%!important;
        margin-top: 6%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 12%!important;
        margin-top: 19.7%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 12%!important;
        margin-top: 33.5%!important;
    }
    #spanColspace {
        margin-left: 21px!important;
    }
    .ieedge #indexImg4 {
        margin-left: -295px !important;
        margin-top: 429px !important;
        width: 77%;
    }
    @-moz-document url-prefix() {}
}


/*1280 X 1050*/

@media(device-width:1280px) and (device-height:1050px) {
    #container {
        max-width: 772px;
        padding-top: 63px;
        margin-left: 15.5%;
        padding: 58px;
    }
    .tabCol {
        width: 724px!important;
        margin-left: 25px !important;
    }
    body {
        font-size: 15px!important;
    }
    .lineSpace {
        height: 7px!important;
    }
    /*#indexImg2 {
        height: 77px!important;
        width: 103px!important;
        margin-left: -13px!important;
        margin-top: 449px!important;
    }*/
    #indexImg4 {
        height: 77px!important;
        width: 150px!important;
        margin-left: -295px!important;
        margin-top: 451px!important;
    }
    #spanColspace {
        margin-left: 15px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 11%!important;
        margin-top: 11%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 11%!important;
        margin-top: 25.7%;
    }
    #pdfImgIconRow3 {
        margin-left: 11%!important;
        margin-top: 40.5%!important;
    }
    #pdfimg1 {
        height: 149px!important;
    }
    /*  .ieedge #indexImg2 {
        height: 58px;
        width: 186px;
    }*/
    .title .text,
    .title .number {
        font-size: 11.5px;
        line-height: 18px;
    }
    .title {
        height: 44px;
    }
    .column {
        height: 561px;
    }
    .link,
    .number {
        font-size: 10px;
    }
    .menu {
        font-size: 33px;
        line-height: 55px;
    }
    .title6 {
        height: 44px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 4.4px;
    }
    .ieedge .trLarandemal5 {
        top: 470%;
    }
    .ie9 #container {
        padding: 60px!important;
    }
    .ie10 .column {
        height: 543px!important;
    }
    @-moz-document url-prefix() {
        /*#links p {
            line-height: 1.35;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 2px;
        }
        .link,
        .number {
            font-size: 9px;
        }*/
    }
}

@media (device-width: 1366px) and (device-height: 768px) {
    #container {
        max-width: 824px!important;
        padding-top: 44px!important;
    }
    body {
        font-size: 12px !important;
    }
    #index_nav {
        margin-top: 31%!important;
    }
    #indexImg4 {
        margin-left: -280px!important;
        margin-top: 304px!important;
        width: 53%;
    }
    /*#indexImg2 {
        height: 54px!important;
        width: 81px!important;
        margin-left: 17px!important;
        margin-top: 301px!important;
    }*/
    .tabCol {
        width: 760px;
        margin-left: -22px !important;
    }
    #titleImg {
        height: 30px;
        width: 30px;
    }
    .link,
    .number {
        font-size: 11.6px;
    }
    #links p {
        margin: 2.8px;
    }
    #links p {
        margin: 2.8px;
    }
    #titleImg1 {
        height: 55px;
        width: 74px;
        margin-left: 12px;
        margin-top: 314px;
    }
    #titleImg2 {
        height: 58px;
        width: 86px;
        margin-left: 34px;
        margin-top: -22px;
    }
    #titleImg {
        height: 28px!important;
        width: 28px!important;
        margin-left: 7px!important;
    }
    #containerPdf {
        max-width: 1140px;
        height: 643px;
    }
    #pdfImgIconRow1 {
        margin-top: 1.7%;
        margin-left: 3%;
    }
    #pdfImgIconRow2 {
        margin-top: 12.7%;
        margin-left: 3%;
    }
    #pdfImgIconRow3 {
        margin-top: 23.8%;
        margin-left: 3%;
    }
    #pdfimg1 {
        height: 129px!important;
    }
    #spanColspace {
        margin-left: 28px;
    }
    .ieedge #containerPdf {
        padding: 46px;
    }
    @-moz-document url-prefix() {
        #container {
            max-width: 824px!important;
            padding-top: 40px!important;
        }
        #links p {
            line-height: 1.35;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 2px;
        }
        .link,
        .number {
            font-size: 11.4px;
        }
        #indexImg2 {
            margin-left: 17px;
            margin-top: 308px;
        }
    }
    .ieedge #indexImg4 {
        margin-left: -267px !important;
        margin-top: 302px !important;
        width: 41%;
    }
    .ieedge #index_nav {
        margin-top: 29% !important;
    }
}

@media (device-width: 1440px) and (device-height: 900px) {
    #container {
        max-width: 872px;
        padding-top: 53px;
    }
    .tabCol {
        width: 811px;
        margin-left: -18px !important;
    }
    body {
        font-size: 15px!important;
    }
    #pdfimg1 {
        height: 155px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 10%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 10%!important;
        margin-top: 15.4%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 10%!important;
        margin-top: 28%!important;
    }
    #spanColspace {
        margin-left: 22px!important;
    }
    /* #indexImg2 {
        margin-left: 15px!important;
        margin-top: 396px!important;
    }*/
    #titleImg {
        height: 35px !important;
        width: 35px !important;
        margin-left: 5px !important;
    }
    #indexImg4 {
        margin-left: -304px!important;
        margin-top: 385px!important;
        width: 55%;
        height: 15%;
    }
    .link,
    .number {
        font-size: 11.6px;
    }
    .dropdown-content li > a,
    .dropdown-content li > span {
        margin-top: 0% !important;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 4.4px;
    }
    .ieedge #containerPdf {
        padding: 48px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.37;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 4px;
        }
    }
    .ieedge body {
        font-size: 14px !important;
    }
    .ieedge #indexImg4 {
        margin-left: -304px !important;
        margin-top: 372px !important;
        width: 55%;
        height: 15%;
    }
}


/*1600 X 1200*/

@media(device-width:1600px) and (device-height:1200px) {
    #container {
        max-width: 962px;
        padding-top: 76px;
    }
    .menu_02 {
        line-height: 72px;
    }
    .title .text,
    .title .number {
        font-size: 13.5px;
        line-height: 18px;
    }
    .column {
        /*width: 690px;*/
        height: 652px;
    }
    .link,
    .number {
        font-size: 13.4px;
    }
    .menu {
        font-size: 37px;
        line-height: 39px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 4.4px;
    }
    .tabCol {
        width: 896px!important;
        margin-left: -24px !important;
    }
    body {
        font-size: 17px!important;
    }
    .lineSpace {
        height: 8.5px!important;
    }
    #containerPdf {
        max-width: 1372px!important;
        padding: 92px!important;
        height: 898px!important;
    }
    .ie11 #containerPdf {
        height: 915px!important;
    }
    /* #indexImg2 {
        height: 74px!important;
        width: 108px!important;
        margin-left: 1px!important;
        margin-top: 513px!important;
    }*/
    #indexImg4 {
        margin-left: -364px!important;
        position: absolute;
        margin-top: 496px!important;
        width: 84%!important;
    }
    #pdfimg1 {
        height: 177px!important;
    }
    #spanColspace {
        margin-left: 19px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 3.5%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 3.5%!important;
        margin-top: 16.7%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 3.5%!important;
        margin-top: 30.5%!important;
    }
    .ie10 .column {
        height: 614px;
    }
    .ie10 .tabCol {
        width: 896px !important;
        margin-left: -15px !important;
    }
    /* .ieedge .tabCol {
        width: 1070px;
        margin-left: 64px !important;
    }*/
    @-moz-document url-prefix() {}
}


/*1600 X 900*/

@media(device-width:1600px) and (device-height:900px) {
    #container {
        max-width: 1020px;
        padding-top: 60px;
    }
    .tabCol {
        width: 908px;
        margin-left: 7px !important;
    }
    #pdfimg1 {
        height: 157px!important;
    }
    #spanColspace {
        margin-left: 41px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 5%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 5%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 5%!important;
    }
    #pdfImgIconRow2 {
        margin-top: 13.7%!important;
    }
    #pdfImgIconRow3 {
        margin-top: 24.5%!important;
    }
    /* #indexImg2 {
        height: 50px!important;
        width: 81px!important;
        margin-left: 32px!important;
        margin-top: 377px!important;
    }*/
    #indexImg4 {
        height: 62px!important;
        width: 120px!important;
        margin-left: -319px!important;
        margin-top: 370px;
    }
    #links p {
        margin: 5px;
    }
    body {
        font-size: 14px;
    }
    .link,
    .number {
        font-size: 12.5px;
    }
    #titleImg {
        height: 30px;
        width: 30px;
        margin-left: 0px;
    }
    .ie11 .lineSpace {
        height: 0px!important;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.35;
            margin-bottom: auto;
        }
        #indexImg2 {
            margin-left: 32px !important;
            margin-top: 361px !important;
        }
        #links table:nth-of-type(2) {
            margin-top: 2px;
        }
        .column {
            height: 470px;
        }
    }
    .ieedge #indexImg4 {
        width: 47% !important;
        margin-left: -309px !important;
        margin-top: 363px !important;
        height: -15% !important;
    }
    .ie11 .column:nth-child(1) {
        width: 17.26%;
    }
}

@media (device-width: 1680px) and (device-height: 1050px) {
    #container {
        max-width: 1020px;
        padding-top: 60px;
        margin-top: 1%;
    }
    #containerPdf {
        max-width: 1202px!important;
    }
    #pdfimg1 {
        height: 173px!important;
    }
    #spanColspace {
        margin-left: 35px!important;
    }
    #pdfImgIconRow1 {
        margin-top: 4%!important;
    }
    #pdfImgIconRow2 {
        margin-top: 16.7%!important;
    }
    #pdfImgIconRow3 {
        margin-top: 29.5%!important;
    }
    .tabCol {
        width: 953px;
        margin-left: -17px !important;
    }
    /* #indexImg2 {
        margin-left: 0px!important;
        margin-top: 455px!important;
    }*/
    #indexImg4 {
        margin-left: -353px;
        margin-top: 446px;
    }
    #links p {
        margin: 6px;
    }
    body {
        font-size: 17px;
    }
    .link,
    .number {
        font-size: 14.5px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.35;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 2px;
        }
        .title6 {
            height: 50px;
        }
        .title .text,
        .title .number {
            font-size: 14.5px;
            line-height: 18px;
        }
        .link,
        .number {
            font-size: 13.5px;
        }
    }
    .ieedge #indexImg4 {
        margin-left: -343px;
        margin-top: 446px;
        width: 47%;
    }
}

@media (device-width: 1920px) and (device-height: 1080px) {
    #container {
        max-width: 1160px;
        margin-top: 1%;
    }
    body {
        font-size: 18px;
    }
    #indexImg2 {
        height: 74px;
        width: 133px;
        margin-left: -4px;
        margin-top: 465px;
    }
    .link,
    .number {
        font-size: 16px;
    }
    #links p {
        margin: 6.2px;
    }
    .break {
        height: 2px;
    }
    .ieedge #containerPdf {
        max-width: 1377px;
        padding: 39px;
        height: 792px;
    }
    .ieedge #dropdown1 {
        margin-top: 78%;
    }
    /* .ie9 #container,
    .ie10 #container {
        max-width: 1160px;
        padding-top: 67px;
        margin-left: 16.7%;
    }*/
    /*  .title .text,
    .title .number {
        font-size: 16px;
        line-height: 18px;
    }*/
    /* .titleImg4{
    margin-left: 70px !important;
   }*/
    /*    .menu {
     font-size: 32px;
     line-height: 36px;
 } */
    /* .column {
        width: 25%;
        height: 590px;
    }*/
    /* .ie11 .column:nth-child(1),
    .ie10 .column:nth-child(1),
    .ie9 .column:nth-child(1) {
        width: 17.05%;
    }*/
    /* .ie10 .column,
    .ie9 .column {
        width: 16.88%!important;
        height: 590px!important;
    }*/
    /*    .title,
    .title6 {
        height: 45px;
    }
    .ie11 .column {
        height: 630px;
    }
    .ie11 .title6 {
        height: 51px;
    }
    .ie11 .title {
        height: 51px;
    }
    .ie11 .title7 {
        height: 26px;
    }
    .ieedge .title,
    .title6 {
        height: 51px;
    }
    .ie10 .break,
    .ie9 .break {
        height: 0px!important;
    }*/
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.37;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 4px;
        }
    }
}


/*1920 X 1200*/

@media (device-width: 1920px) and (device-height: 1200px) {
    #container {
        max-width: 1160px;
        padding-top: 76px!important;
    }
    #containerPdf {
        padding: 58px!important;
        height: 904px!important;
    }
    /*  #indexImg2 {
        height: 88px!important;
        width: 135px!important;
        margin-left: 12px!important;
    }*/
    #indexImg4 {
        margin-left: -408px!important;
        position: absolute;
        margin-top: 495px!important;
        width: 70%!important;
    }
    #pdfImgIconRow1 {
        margin-top: 4%!important;
        margin-left: -2%!important;
    }
    #pdfImgIconRow2 {
        margin-top: 16.7%!important;
        margin-left: -2%!important;
    }
    #pdfImgIconRow3 {
        margin-top: 29.5%!important;
        margin-left: -2%!important;
    }
    .title .text,
    .title .number {
        font-size: 17.2px;
        line-height: 18px;
    }
    .link,
    .number {
        font-size: 16px;
    }
    .menu {
        font-size: 34px;
        line-height: 75px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 4.4px;
    }
    .title {
        height: 54px;
    }
    .title6 {
        height: 54px;
    }
    .column {
        height: 661px;
    }
    .ieedge .column {
        height: 646px;
    }
    /*  .ieedge #indexImg2 {
        height: 88px!important;
        width: 135px!important;
        margin-left: 12px!important;
        margin-top: 499px!important;
    }
    .ieedge #indexImg4 {
        height: 77px!important;
        width: 119px!important;
        margin-left: 86px!important;
        margin-top: -26px!important;
    }*/
    .ieedge .menu {
        /*font-size: 34px;*/
        line-height: 67px;
    }
    .ie11 #indexImg2 {
        height: 88px!important;
        width: 135px!important;
        margin-left: 12px!important;
    }
    .ie10 .column {
        height: 605px!important;
    }
    .ie10 .tabCol {
        margin-left: 4px !important;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.37;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 4px;
        }
        .column {
            height: 650px;
        }
    }
}

@media (device-width: 1600px) and (device-height: 1024px) {
    #container {
        margin-top: 1%!important;
    }
    body {
        font-size: 18px!important;
    }
    .lineSpace {
        height: 8px!important;
    }
    /* #indexImg2 {
        height: 70px!important;
        width: 100px!important;
        margin-left: 10px!important;
        margin-top: 433px!important;
    }*/
    .column_table {
        width: 93%!important;
    }
    #indexImg4 {
        height: 69px!important;
        margin-left: -357px!important;
        margin-top: 431px!important;
        width: 75%!important;
    }
    #pdfimg1 {
        height: 170px!important;
    }
    #pdfImgIconRow1 {
        margin-top: 3%!important;
        margin-left: 5%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 5%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 5%!important;
    }
    #spanColspace {
        margin-left: 28px!important;
    }
    .tabCol {
        width: 904px!important;
        margin-left: -7px !important;
    }
}

@media (device-width: 2560px) and (device-height: 1440px) {
    #container {
        max-width: 100%;
        margin-left: 17.6%;
        margin-top: 2%;
    }
    .tabCol {
        width: 1435px!important;
        margin-left: 59px !important;
    }
    body {
        font-size: 23px!important;
    }
    /* #indexImg2 {
        height: 92px!important;
        width: 161px!important;
        margin-left: 41px!important;
        margin-top: 627px!important;
    }*/
    #indexImg4 {
        margin-left: -554px!important;
        position: absolute;
        margin-top: 612px!important;
        width: 70%!important;
    }
    #containerPdf {
        max-width: 1852px!important;
        height: 1092px!important;
        padding: 88px!important;
    }
    #pdfimg1 {
        height: 256px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 1%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 1%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 1%!important;
    }
    .title .text,
    .title .number {
        font-size: 20.5px;
        line-height: 25px;
    }
    .link {
        font-size: 19px;
    }
    .number {
        font-size: 18px;
    }
    .menu {
        font-size: 46px;
        line-height: 75px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 8.4px;
    }
    .title {
        height: 20px;
    }
    .title6 {
        height: 69px;
    }
    .title {
        height: 69px;
    }
    .column {
        height: 770px;
        width: 19%;
    }
    .ie10 #container {
        max-width: 100%!important;
        margin-left: 19.6%!important;
        margin-top: 2%!important;
        padding: 20px!important;
    }
}


/* -------------------Retina Mac ------------ */


/* 2560 X 1600 */

@media (device-width:2560px) and (device-height:1600px) {
    #viewport1 {
        margin-left: 28.3% !important;
        top: 4.7% !important;
    }
    #viewport2 {
        margin-left: 50% !important;
        top: 4.7% !important;
    }
    #container {
        max-width: 100%;
        margin-left: 17.6%;
        margin-top: 2%;
    }
    .title .text,
    .title .number {
        /*font-size: 17.2px;*/
        font-size: 20.5px;
        line-height: 25px;
    }
    .link {
        /*font-size: 17.4px;*/
        font-size: 19px;
    }
    .number {
        /*font-size: 17.4px;*/
        font-size: 18px;
    }
    .menu {
        font-size: 46px;
        line-height: 75px;
    }
    #links p {
        line-height: 1.7;
        margin: 8.4px;
    }
    .break {
        height: 2.6px;
    }
    .title {
        height: 88px;
    }
    .title6 {
        height: 88px;
    }
    .column {
        height: 950px;
        /*width: 16.6%;;*/
        width: 19%;
    }
}


/*2880 X 1800 */

@media (device-width:2880px) and (device-height:1800px) {
    #viewport1 {
        margin-left: 28.3% !important;
        top: 4.7% !important;
    }
    #viewport2 {
        margin-left: 50% !important;
        top: 4.7% !important;
    }
    #container {
        max-width: 60.5%;
        margin-left: 17.6%;
        margin-top: 3%;
    }
    .title .text,
    .title .number {
        /*font-size: 17.2px;*/
        font-size: 26.5px;
        line-height: 25px;
    }
    .link {
        /*font-size: 17.4px;*/
        font-size: 25px;
    }
    .number {
        /*font-size: 17.4px;*/
        font-size: 25px;
    }
    .menu {
        font-size: 49px;
        line-height: 75px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        /* margin: 4.4px;*/
        margin: 8.4px;
    }
    .title {
        height: 93px;
    }
    .title6 {
        height: 93px;
    }
    .column {
        height: 1050px;
        /*width: 16.6%;;*/
        width: 350px;
    }
}


/* ----------- iPad mini ----------- */


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    #container {
        max-width: 465px;
        padding: 38px;
    }
    .title .text,
    .title .number,
    .number {
        font-size: 9.3px!important;
    }
    .link,
    .number {
        font-size: 8px!important;
    }
    .menu {
        font-size: 16px;
        line-height: 21px;
    }
    .break {
        height: 0px;
    }
    #links p {
        margin: 2.2px;
    }
    .column {
        height: 380px;
    }
    .title {
        height: 40px;
    }
    .title6 {
        height: 40px;
    }
    .title7 {
        height: 20px!important;
    }
    .trLarandemal1 {
        left: 20.5%!important;
        top: 43.5%!important;
    }
    .trLarandemal2 {
        top: 43.5%!important;
        left: 29.9%!important;
    }
    .trLarandemal3 {
        top: 43.5%!important;
        left: 41.1%!important;
    }
    .trLarandemal4 {
        top: 43.5%!important;
        left: 51.3%!important;
    }
    .trLarandemal5 {
        top: 43.5%!important;
        left: 61.5%!important;
    }
    .trLarandemal6 {
        top: 43.5%!important;
        left: 71.8%!important;
    }
    #canvas.wof {
        height: 45%;
        width: 83%;
        left: 0%;
    }
    #canvas.wof {
        height: 45%;
        width: 83%;
        left: 0%;
    }
    #container {
        margin-top: 2%!important;
    }
    .tabCol {
        width: 429px!important;
        margin-left: -13px !important;
    }
    body {
        font-size: 9px!important;
    }
    .lineSpace {
        height: 5px!important;
    }
    #titleImg {
        height: 35px!important;
        width: 34px!important;
        margin-left: 0px!important;
    }
    #indexImg2 {
        height: 52px!important;
        width: 71px!important;
        margin-left: -26px!important;
        margin-top: 283px!important;
    }
    #indexImg4 {
        height: 60px!important;
        width: 90px!important;
        margin-left: -188px!important;
        margin-top: 293px!important;
    }
    #pdfimg1 {
        height: 80px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 12%!important;
        margin-top: 7%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 12%!important;
        margin-top: 19.7%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 12%!important;
        margin-top: 32.5%!important;
    }
    #spanColspace {
        margin-left: 10px!important;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #container {
        max-width: 618px;
        padding: 43px;
    }
    .title .text,
    .title .number,
    .number {
        font-size: 9.5px;
    }
    .link {
        font-size: 10px;
    }
    .menu {
        font-size: 20px;
        line-height: 28px;
    }
    .break {
        height: 0px;
    }
    #links p {
        margin: 2.2px;
    }
    .column {
        width: 17%;
        height: 437px;
    }
    .title {
        height: 40px!important;
    }
    .title6 {
        height: 40px!important;
    }
    .title7 {
        height: 23px!important;
    }
    #canvas.wof {
        height: 100%;
        width: 100%;
        left: 10%;
    }
    #container {
        margin-top: 1%!important;
    }
    .tabCol {
        width: 569px!important;
        margin-left: -13;
    }
    body {
        font-size: 11px!important;
    }
    .lineSpace {
        height: 9px!important;
    }
    #titleImg {
        height: 35px!important;
        width: 34px!important;
        margin-left: 0px!important;
    }
 /* #indexImg2 {
        height: 52px!important;
        width: 79px!important;
        margin-left: -17px!important;
        margin-top: 340px!important;
    }*/
    #indexImg4 {
        height: 60px!important;
        width: 80px!important;
        margin-left: -225px!important;
        margin-top: 340px!important;
    }
    #pdfimg1 {
        height: 117px!important;
    }
    #pdfImgIconRow1 {
        margin-left: 12%!important;
        margin-top: 7%!important;
    }
    #pdfImgIconRow2 {
        margin-left: 12%!important;
        margin-top: 21.7%!important;
    }
    #pdfImgIconRow3 {
        margin-left: 12%!important;
        margin-top: 36.5%!important;
    }
    #spanColspace {
        margin-left: 10px!important;
    }
    #Pdf_Backbtn {
        width: 10%!important;
        margin-top: 503px!important;
    }
    #index_navPdf {
        width: 10%!important;
        margin-top: 600px!important;
    }
}
